body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #b1cc9f; 
    color: #000000; 
}

h1 {
    font-size: 36px;
    color: #002147; 
    margin-bottom: 20px; 

p {
    margin-bottom: 15px; s
    text-indent: 20px
